<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('template/head') %>
  <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
</head>
<body>
  <%- include('template/nav') %>
  <main>
    <%- include('template/banner') %>
    <section class='newPost_board font-Noto-Sans'>
      <!-- article__post-->
      <h2 class='font-Merri newPost__site-name'>Add a New Blog Post</h2>
      <form method='POST' action='./add-article' class='newPost__newPost-form' onsubmit="return myFunction();">
        <input type='text' class='newPost__add-title' name='title' placeholder='Title'></input>
        <input type='text' class='newPost__add-title' name='imageUrl' placeholder='image url'></input>
        <!-- for add new category-->
        <!-- <div class='newPost__category'> -->
          <select name="CategoryId" class='newPost__select-option'>
              <option selected disabled>Category</option>
              <% for (let i=0; i<totalCategories;i++) { %>
                <option value="<%= Number(category[i].id) %>"><%= category[i].name %></option>
              <% } %>
          </select>
        <!-- </div> -->
        <textarea name="content" id="editor" class='ckeditor5' placeholder="What's on your mind?">
        </textarea>
        <h2 class="error"><%= errorMessage %></h2>
        <p class='newPost__btn-submit'><img class="newPost__icon-style" src="./public/images/icons_func/plus.svg">
          <input type="submit" value="New Post" class='font-Merri newPost__btn-submit-text'>
        </p>
        </div>
      </form>
    </section>
  </main>
    <%- include('template/footer') %>
  <script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .then(editor => {
        console.log(editor);
      })
      .catch(error => {
        console.error(error);
      });
  </script>
</body>

</html>