<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('template/head') %>
  </head>

  <body>
    <%- include('template/nav')%>
    <main>
      <%- include('template/banner')%>
      <section class='section__posts wrapper font-Serif-TC'>
        <div class='article__lists'>
          <% for (let i = 0; i < article.length; i++) { %>
          <div class='article__post' id='<%= article[i].id %>'>
            <div class='article__photo' style="background-image:url('<%= article[i].imageUrl %>'"></div>
            <div class='article__body'>
              <div class='article__info'>
                <div class='article__time-block'>
                  <div class='icon__post-style icon__clock'></div>
                  <div class='article__date font-Merri'><%= moment(article[i].createdAt).format(shortDateFormat) %></div>
                </div>
                <div class='article__category-block'>
                  <div class='icon__post-style icon__folder'></div>
                  <div class='article__category'><%= article[i].category %></div>
                </div>
              </div>
            <div class='article__title'><%= article[i].title %></div>
            <div class='article__content ellipsis'><%- article[i].content %></div>
            <a class='article__btn-style' href='article/<%= article[i].id %>'><div class='btn__read-more font-Merri'>Read More <img class='icon__edit-style'
                  src='./public/images/icons_func/ellipsis.svg'></div></a>
          </div>
          <% if (username == article[i].User.username) { %>
            <div class='article__btn-position font-Merri'>
              <a class='article__btn-style' href='update-article/<%= article[i].id %>'>
                <div class='btn__edit'>
                  <div class='icon__edit-style icon__edit'></div><span>Edit</span>
                </div>
              </a>
              <a class='article__btn-style' href='/delete/<%= article[i].id %>'>
                <div class='btn__delete'>
                  <div class='icon__edit-style icon__delete'></div><span>Delete</span>
                </div>
              </a>
            </div>
            <% } %>
          </div>
          <div class='article__dividing-line'></div>
          <% } %>
        </div>
        <div>
          Page
        </div>
      </section>
    </main>
    <%- include('template/footer') %>
  </body>

</html>