<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('template/head') %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <%- include('template/nav')%>
    <main>
      <%- include('template/banner')%>
      <section class='section__posts wrapper font-Serif-TC'>
        <div class='article__lists'>
          <% for (let i = 0; i < article.length; i++) { %>
          <div class='article__post' id='<%= article[i].id %>'>
            <div class='article__photo' style="background-image:url('<%= article[i].imageUrl %>'"></div>
            <div class='article__body'>
              <div class='article__info'>
                <div class='article__time-block'>
                  <div class='icon__post-style icon__clock'></div>
                  <div class='article__date font-Merri'><%= moment(article[i].createdAt).format(shortDateFormat) %></div>
                </div>
                <div class='article__category-block'>
                  <div class='icon__post-style icon__folder'></div>
                  <div class='article__category'><%= article[i].category %></div>
                </div>
              </div>
            <div class='article__title'><%= article[i].title %></div>
            <div class='article__content ellipsis'><%- article[i].content %></div>
            <a class='article__btn-style' href='article/<%= article[i].id %>'><div class='btn__read-more font-Merri'>Read More <img class='icon__edit-style'
                  src='./public/images/icons_func/ellipsis.svg'></div></a>
          </div>
          <% if (username == article[i].User.username) { %>
            <div class='article__btn-position font-Merri'>
              <a class='article__btn-style' href='update-article/<%= article[i].id %>'>
                <div class='btn__edit'>
                  <div class='icon__edit-style icon__edit'></div><span>Edit</span>
                </div>
              </a>
              <a class='article__btn-style' href='/delete/<%= article[i].id %>'>
                <div class='btn__delete'>
                  <div class='icon__edit-style icon__delete'></div><span>Delete</span>
                </div>
              </a>
            </div>
            <% } %>
          </div>
          <div class='article__dividing-line'></div>
          <% } %>
        </div>
      </section>
      <section class="pagination">
          <nav aria-label="Page navigation example" class="pagination-sm">
            <ul class="pagination">
              <% if (currentPage === 1) { %>
                <li class="page-item disabled">
                  <a class="page-link" href="/" tabindex="-1">First</a>
                </li>
              <%  } else { %>
                <li class="page-item">
                  <a class="page-link" href="/">First</a>
                </li>
              <% } %>
              <% if (Number(currentPage) > 0) { %>
                <% if (Number(currentPage) < 3 ) { %>
                  <% for (let i=1; i<= 4; i++) { %>
                    <% if (i === Number(currentPage)) { %>
                      <li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                    <% } else { %>
                      <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <% if (totalPage - Number(currentPage) <= 2) { %>
                    <% for (let i=Number(currentPage)-2; i <= totalPage; i++) { %>
                      <% if (i === Number(currentPage)) { %>
                        <li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                      <% } else { %>
                        <li class="page-item"><a class="page-link" href='?page=<%= i %>'><%= i %></a></li>
                      <% } %>
                    <% } %>
                  <% } else { %>
                    <% for (let i=Number(currentPage)-2; i <= Number(currentPage)+2; i++) { %>
                      <% if (i === Number(currentPage)) { %>
                        <li class="page-item active"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                      <% } else { %>
                        <li class="page-item"><a class="page-link" href='?page=<%= i %>'><%= i %></a></li>
                      <% } %>
                    <% } %>
                  <% } %>
                <% } %>
              <% } %>
               <% if (currentPage === totalPage) { %>
                 <li class="page-item disabled">
                   <a class="page-link" href="/?page=<%= totalPage%>" tabindex="-1">Last</a>
                </li>
              <%  } else { %>
                <li class="page-item">
                  <a class="page-link" href="/?page=<%= totalPage%>">Last</a>
                </li>
              <% } %>
            </ul>
          </nav>
        </section>
    </main>
    <%- include('template/footer') %>
  </body>

</html>