<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('template/head') %>
  </head>
  <body>
  <%- include('template/nav') %>
    <main>
      <section class='section__banner'>
        <div class='blog__site-area font-Abril'>
          <h1 class='blog__site-title'>Jean's Blog</h1>
          <p class='blog__site-intro font-Serif-TC'>There is only one thing that makes a dream impossible to achieve: the
            fear of failure.</p>
        </div>
      </section>
      <section class='section__posts wrapper font-Serif-TC'>
        <div class='article__lists'>
          <% for (let i = 0; i < article.length; i++) { %>
          <div class='article__post article__list' id='<%= article[i].id %>'>
            <div class='article__photo article__photo-admin' style="background-image:url('<%= article[i].imageUrl %>'"></div>
            <div class='article__body article__body-admin'>
              <div class='article__title article__title-admin'><%= article[i].title%></div>
              <div class='article__info-block'>
              <div class='article__info article__date-admin'>
                <div class='icon__post-style icon__clock'></div>
                <div class='article__date font-Merri'><%= moment(article[i].createdAt).format(shortDateFormat) %></div>
              </div>
              <div class='article__info article__catelog-admin'>
                <div class='icon__post-style icon__folder'></div>
                <div class='article__category'><%= article[i].category%></div>
              </div>
            </div>
            </div>
            <% if (username == article[i].User.username) { %>
            <div class='article__btn-position font-Merri article__list-article'>
              <a class='article__btn-style' href='update_article/<%= article[i].id%>'>
                <div class='btn__edit'>
                  <div class='icon__edit-style icon__edit'></div><span>Edit</span>
                </div>
              </a>
              <a class='article__btn-style' href='delete_article/<%= article[i].id%>'>
                <div class='btn__delete'>
                  <div class='icon__edit-style icon__delete'></div><span>Delete</span>
                </div>
              </a>
            </div>
            <% } %>
          </div>
          <div class='article__dividing-line'></div>
            <% } %>
        </div>
      </section>
      <%- include('template/pagination') %>
    </main>
    <%- include('template/footer') %>
    <script src="/scripts/click.js" charset="utf-8"></script>
  </body>

</html>