<!DOCTYPE html>
<html lang="en">


  <head>
    <%- include('template/head') %>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
  </head>
  <body>
    <%- include('template/nav') %>

    <main>
      <section class='section__banner'>
        <div class='blog__site-area font-Abril'>
          <h1 class='blog__site-title'>Jean's Blog</h1>
          <p class='blog__site-intro font-Serif-TC'>There is only one thing that makes a dream impossible to achieve: the
            fear of failure.</p>
        </div>
      </section>
      <section class='newPost_board font-Noto-Sans'>
        <!-- article__post-->
        <h2 class='font-Merri newPost__site-name'>Add a New Blog Post</h2>
        <form method='POST' action='/update-article/<%= article.id%>' class='newPost__newPost-form'>
          <input type='text' class='newPost__add-title' name='title' placeholder='Title' value="<%= article.title%>"></input>
          <input type='text' class='newPost__add-title' name='imageUrl' placeholder='image url' value="<%= article.imageUrl%>"></input>
          <!-- for add new category -->
          <!-- <div class='newPost__category'> -->
            <select name="category" class='newPost__select-option'>
                <option selected disabled class='options'>Category</option>
              　<option value="旅遊日記" <% if (article.category == '旅遊日記') {%><%= "selected" %><%}%>>旅遊日記</option>
              　<option value="生活札記"<% if (article.category == '生活札記') {%><%= "selected" %><%}%>>生活札記</option>
              　<option value="美食饗宴"<% if (article.category == '美食饗宴') {%><%= "selected" %><%}%>>美食饗宴</option>
            </select>
          <!-- </div> -->
          <textarea name="content" id="editor" class='ckeditor5' value=""><%- article.content %></textarea>
          <h2 class="error"><%= errorMessage %></h2>
          <input type="hidden" name="id" value="<%= article.id%>" />
          <p class='newPost__btn-submit'><img class="newPost__icon-style" src="/public/images/icons_func/plus.svg">
            <input type="submit" value="Update Post" class='font-Merri newPost__btn-submit-text'>
          </p>
          </div>
        </form>
      </section>
    </main>
    <%- include('template/footer') %>
    <script>
      ClassicEditor
      .create(document.querySelector('#editor'))
      .then(editor => {
        console.log(editor);
      })
      .catch(error => {
        console.error(error);
      });
    </script>
  </body>

</html>